* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.w_2 {
  width: 50%;
}
.w_3 {

}

body {
  width: 100%;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #33475b;
  margin-top: 70px;
}

h1 {
  font-size: 300%;
}
h2 {
  font-size: 250%;
}
h3{
  font-size: 200%;
}
h4 {
  font-size: 150%;
}

/* Inizio header superiore */
.header_top {
  width: 100%;
  background-color: #f4f9fd;
  border-bottom: 1px solid #32495b;
  position: fixed;
  top: 0;
}
.header_top .left, .header_top .right, .header_bottom .left, .header_bottom .right {
  float: left;
  padding: 20px 0;
}
.header_top .languages, .header_top .contact, .header_bottom .right a {
  color: #32495b;
}
.header_top .languages {
  padding-right: 20px;
  border-right: 2px solid #32495b;
}
.header_top .contact {
  padding-left: 20px;
}
.header_top .right ul, .header_bottom .right ul {
  text-align: right;
}
.header_top .right li, .header_bottom .right li {
  display: inline-block;
  padding-left: 20px;
}
.header_top a, .header_bottom a {
  text-decoration: none;
}
.fa-search {
  color: #00a4bd;
}
/* Definisco i bottoni */
.btn {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
.btn_large {
  padding: 20px 50px;
}
.btn_orange {
  background-color: #fe775a;
  color: white;
}
.btn_grey {
  background-color: #fafcfe;
  border: 1px solid #fe775a;
  color: #fe775a;
}
/* hover sui bottoni */
.btn_grey:hover, .btn_orange:hover{
  background-color: rgba(254, 119, 90, 0.7);
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* Inizio header inferiore */
.header_bottom .right ul {
  color: #32495b;
}
/* tutte le proprietà dell'header inferiore sono state implementate nel codice superiore visto che si ripetevano */

/* inizio banner */
.banner {
  width: 100%;
  height: 600px;
  background-image: url('../img/jumbotron2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
}
.banner_text h1 {
  line-height: 50px;
  padding: 50px 0 20px;
}
.banner_text p {
  padding-bottom: 50px;
  font-size: 100%;
}
.banner_text .end_text {
  padding: 50px 0;
  font-size: 90%;
}
/* Inizio main sezione superiore */
main section:first-child {
  width: 100%;
  background-color: #f4f9fd;
}
.section_top .cube_box {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.section_top .cube {
  padding-top: 50px;
}
.section_top .cube img {
  height: 200px;
}
.section_top p {
  padding: 20px 0;
}
.box {
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.section_top .horizontal_box {
  width: 100%;
  padding: 5% 10%;
  margin-top: 30px;
}
/* Box orizzontale */
.horizontal_box .item {
  text-align: center;
  width: 200px;
  float: left;
}
.horizontal_box .btn_item {
  margin-top: 30px;
}
.horizontal_box .image img {
  width: 90%;
}
.description {
  width: 65%;
  float: right;
}
.description h3 {
  padding-bottom: 15px;
}
.description h4 {
  text-transform: uppercase;
  padding-bottom: 20px;
  float: left;
}
.description hr {
  float: right;
  width: 55%;
  border-top: 2px solid #899397;
  margin: 17px 0;
}
.horizontal_box ul,
.vertical_box ul {
  list-style: none;
}
.horizontal_box ul li,
.vertical_box ul li {
  display: inline-block;
  margin-right: 25px;
}
/* Cambio il list-style utilizzando background image */
.horizontal_box ul li::before,
.vertical_box ul li::before {
  content: '';
  display: inline-block;
  height: 17px;
  width: 17px;
  background-size: 17px;
  background-image: url('../img/check.png');
  background-repeat: no-repeat;
  margin-right: 15px;
  vertical-align: middle;
}
/* Inizio dei 3 box verticali del main */
.box_container {
  margin: 40px 0;
}
.vertical_box {
  width: calc(100% / 3 - (80px / 3)); /* Il box centrale ha un margin di 40px da entrambi i lati quindi 80px totali che vanno divisi per i 3 box e sottratti*/
  padding: 40px 40px 70px;
  text-align: center;
  float: left;
}
.vertical_box:nth-child(2){
  margin: 0 40px;
}
.vertical_box .image img {
  height: 130px;
}
.vertical_box p {
  min-height: 200px;
}
.vertical_box hr {
  border-top: 2px solid #899397;
}
.vertical_box h4 {
  text-transform: uppercase;
  padding: 30px 0;
}
.vertical_box ul {
  text-align: left;
  padding-bottom: 50px;
}
